@import "style.css";

.carousel .carousel-item>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#carousel-img-one {
    object-position: left;
}

#carousel-img-two {
    object-position: 50% 60%;
}

#carousel-img-three {
    object-position: top;
}

#carousel-img-four {
    object-position: 50% 70%;
}

.carousel-item h2 {
    width: 90%;
    position: absolute;
    bottom: 6.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-weight: bold !important;
    font-size: 3rem !important;
    font-family: 'Ropa Sans', sans-serif;
}

.carousel .indicators .indicator-item.active {
    background-color: var(--color-purple);
}