/*START VARIABLES*/
:root {
    --color-dark: #263238;
    --color-dark-green: #66bb6a;
    --color-light-green: #aeea00;
    --color-pink: #d81b60;
    --color-purple: #3949ab;
    --color-white: #fff;
}

/*END VARIABLES*/
/*START GENERALITY*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* start text selected */
::selection {
    background-color: var(--color-pink);
    color: var(--color-white);
}

/* Firefox */
::-moz-selection {
    background-color: var(--color-pink);
    color: var(--color-white);
}
/* end text selected */

/* Title */
main {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 9rem;
    color: var( --color-pink);
    z-index: 1;
    font-family: 'Bangers', cursive;
}

h1 > span {
    color: var(--color-purple);
}

/*Start btn-menu*/
.fixed-action-btn {
    position: fixed;
    text-align: center;
    bottom: 4rem;
    left: 0;
    right: 0;
}

.fixed-action-btn ul {
    position: absolute;
}

.fixed-action-btn ul li:first-child {
    position: absolute;
    left: 50%;
    top: -56px;
    transform: translate(-50%, -25%);
    margin-top: 15px;
}

.fixed-action-btn ul li:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translate(-225%);
    margin-top: 15px;
}

.fixed-action-btn ul li:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translate(125%);
    margin-top: 15px;
}
/*End btn-menu*/
/*Start form's colors*/
.input-field, .input-field label {
    color: var(--color-pink);
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
    margin: 0;
    color: var(--color-dark);
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
    color: var(--color-purple);
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--color-purple);
    box-shadow: 0 1px 0 0 var(--color-purple);
}
/*End form's colors*/

/*END GENERALITY*/

/*MOBILE*/
@media only screen and (max-width: 768px) {


}