/*START VARIABLES*/
:root {
    --color-dark: #263238;
    --color-dark-green: #66bb6a;
    --color-light-green: #9ccc65;
    --color-pink: #d81b60;
    --color-purple: #3949ab;
    --color-white: #fff;
}

/*END VARIABLES*/
/*START GENERALITY*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* start text selected */
::selection {
    background-color: var(--color-pink);
    color: var(--color-white);
}

/* Firefox */
::-moz-selection {
    background-color: var(--color-pink);
    color: var(--color-white);
}
/* end text selected */

/*END GENERALITY*/

/*MOBILE*/
@media only screen and (max-width: 768px) {


}