<!doctype html>
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <title>Airfit | Accueil</title>
</head>
<body>
    <main>
        <section class="index-container-banner">
            <div>
                <h1>Airfit</h1>
                <p>« La douleur n'est que la faiblesse qui quitte votre corps »</p>
                <div class="index-container-join-us">
                    <a href="#join-us" class="airfit-btn">s'inscrire</a>
                    <a href="#" class="airfit-btn">se connecter</a>
                </div>
            </div>
        </section>
        <section class="index-container">
            <h2 id="join-us">d</h2>
            aaaaaaaaaaaaaaaaa
        </section>
    </main>
</body>
<!--<footer th:replace="fragments/footer.html :: footer"></footer>-->
</body>
<!--<script src="/js/header.js" type="text/javascript"></script>
<script src="/js/home.js" type="text/javascript"></script>-->
</html>