<!doctype html>
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <title>Airfit | Accueil</title>
</head>
<body>
    <main class="index-container">
        <h1>Air<span>fit</span></h1>
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
                <div class="fixed-action-btn click-to-toggle">
                    <a class="btn-floating btn-large pink darken-1"><i class="large material-icons">more_vert</i></a>
                    <ul>
                        <li><a href="/about" class="btn-floating pink darken-1"><i class="material-icons flew-over">info_outline</i></a></li>
                        <li><a href="/dashboard" class="btn-floating indigo darken-1"><i class="material-icons flew-over">fitness_center</i></a></li>
                        <li><a href="/profile" class="btn-floating blue-grey darken-4"><i class="material-icons flew-over">account_circle</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item" href="#one!">
                <img id="carousel-img-one" src="image/pexels-leon-martinez-1552242.jpg" alt="CROSS TRAINING">
                <h2>CROSS TRAINING</h2>
            </div>
            <div class="carousel-item" href="#two!">
                <img id="carousel-img-two" src="image/dark-yoga.jpg" alt="YOGA & PILATE">
                <h2>YOGA & PILATE</h2>
            </div>
            <div class="carousel-item" href="#three!">
                <img id="carousel-img-three" src="image/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg" alt="RENFORCEMENT MUSCULAIRE">
                <h2>RENFORCEMENT MUSCULAIRE</h2>
            </div>
            <div class="carousel-item" href="#four!">
                <img id="carousel-img-four" src="image/steven-erixon-FxlYmu_To7o-unsplash.jpg" alt="CARDIO TRAINING">
                <h2>CARDIO TRAINING</h2>
            </div>
        </div>
    </main>
    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
</body>
</html>